{{set . "title" "Home"}}
{{template "header.html" .}}
<style>
 .menu-tags{
		 padding: 0;
 }
 .menu-tags li{
		 list-style: none;
		 margin: 0 !important;
		 text-align: left;
		 padding: 10px 0 !important;

 }

 .menu-tags li a{
		 padding-top: -10px;
		 color: #9EADC4;
		 margin-top: -10px;
 }
 .menu-tags li a:hover{
		 text-decoration: none;
 }
 .menu-tags li .sub-tags{
		 padding-top: 10px;
		 padding-left: 35px;
 }
 #sidebar-left .tag-icon-block{
		 width: 15px;
		 height: 15px;
		 margin-right: 10px;
		 margin-top: 2px;
		 border-radius: 2px;
		 float: right;
 }

 .discusiones{
     border: 1px solid black;
     width: 100 px;
     height: 100px;
     margin-bottom: 30px;
 }

 img.imagenes{
     margin: 25px;
     border:1px solid black;
     width: 50px;
     height: 50px;
 }

 .titulo_discusion{
     margin-top: 10px;
     font-size: 20px;
 }

 .resumen{
     font-size: x-small;
     margin-top: 15px;
 }

 .usuario{
     font-weight: bold;
 }

 .prueba{
     position:absolute;
     bottom:60px;
     right:80px;
 }

 .lista{
     float: left;
     padding: 5px;
     border: 1px solid black;
     font-size: xx-small;
 }

 .botones{
     float: right;
     margin-right: 10px;
     bottom: 10px;
 }

 .casilla-busqueda{
     width: 165px;
     height: 45px;
     border: 1px solid black;
     text-align: center;
     background-color: black;
 }

 .formulario{
     width: 140px;
     height: 34px;
     margin-top: 5px;
 }
 /*Estilo aplicado*/
 .cat-menu{
     height: 300px;
     widht: 165px;
     border: 1px solid black;
 }

 .cat-div{
     border: 1px solid black;
 }

 .elements{
     border: 1px solid black;
 }

 .cat-titl{
     font-size: x-small;
     float: left;
 }

 .div-img{
     width: 50px;
     height: 50px;
     border: 1px solid black;
 }

</style>
<div class="container" style="padding-top: 50px;">
	<div class="row">
		<div class="col-md-2 col-md-offset-1 left-menu">
			<button type="button" class="btn btn-primary btn-create-discussion">Crear Discucion</button>
			<br>
			<br>
			{{if not $.tag}}
			{{ set $ "tag" ""}}
			{{ end }}
			<ul id="sidebar-left" class="menu-tags">
				{{ range .tags }}
				<li class="tag-menu-item {{ if eq $.tag .Slug }} open {{ end}}" data-color="{{ .Color }}">
					<a href="{{ url "Home.Tagged" .Slug }}" class="dropdown-toggle" onclick="javascript:window.location.href='{{ url "Home.Tagged" .Slug }}';" data-toggle="dropdo           wn" {{ if eq $.tag .Slug }}style="color:{{ .Color }};"{{ end}} >
						<div class="tag-icon-block" style="background-color: {{ .Color  }} !important;"></div>
						{{ .Title }}
					</a>
					{{ range subtags .ID }}
					<ul class="sub-tags">
						<a {{ if eq $.tag .Slug }} class="active" style="color:{{ .Color }}  !important;"{{ end}} href="{{ url "Home.Tagged" .Slug }}">
							{{ .Title }}
						</a>
					</ul>
					{{ end }}
				</li>
				{{ end }}
			</ul>
      <div class="casilla-busqueda">
          <form method="GET">
              <input name="" type="text" value="" placeholder='buscar' class="formulario" />
          </form>
      </div>
      <div class="cat-menu">
          <ul class="list-unstyled">
              <li>
                  <div class="media cat-div"><a href="">
                      <div class="media-left div-img">
                          <img alt="" src="public/img/categoria.jpg" class="media-object"/>
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading cat-titl" >Categoria 1</h3>
                          <span>Numero de temas creados</span>
                      </div></a>
                  </div>
              </li>
          </ul>
          <button><a href="_blank">Ver más</a></button>
      </div>
		</div>
		<div class="col-md-8">

			<div>
				<select class="form-control sort">
					<option>Ultimo</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>

			<div class="list-group list-group-gorum">
				{{ range .discussions }}
				<a href="{{ url "Discussions.Index" .Slug }}" class="list-group-item">
					<div class="media-left">
						<img class="media-object" src="/public/{{ .User.FileName }}" alt="...">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{ .Title }}</h4>
						<div class="tags-badges" style="margin-right: 10px;">
							<div class="label-group" role="group" aria-label="...">
								{{ range .Tags }}
								<span class="label btn-sm disabled btn-primary" style="background-color: {{.Color }};">{{ .Title }}</span>
								{{ end }}
							</div>
						</div>
						<span class="username"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Mario Solis</span> Replied <time pubdate="true" datetime="2017-02-26T11:19:49-06:00" title="Sunday, February 26, 2017 11:19 AM" data-humantime="true">26 Feb</time>

					</div>
				</a>
				{{ end }}
			</div>
      <div class="discusiones">
          <div class="media-left">
              <a href="_blank"><img alt="" class="imagenes media-object" src="public/img/user.png"/></a>
          </div>
          <div class="media-body">
              <h3 class="titulo_discusion media-heading">Titulo de la discusión</h3>
              <span>
                  <span class="resumen usuario">@Usuario </span>
                  <span class="resumen">Fecha de creacion</span>
                  <span class="resumen">Ultimo usuario en responder</span>
              </span>
              <div class="prueba"> 
                  <ul class="list-unstyled">
                      <li class="lista">1</li>
                      <li class="lista">2</li>
                      <li class="lista">3</li>
                  </ul>
              </div>
              <div class="botones">
                  <button class="glyphicon glyphicon-thumbs-up"></button>
                  <br/>
                  <button class="glyphicon glyphicon-comment"></button>
              </div>
          </div>
      </div>
      <div class="discusiones">
              <div class="media-left">
                  <a href="_blank"><img alt="" class="imagenes media-object" src="public/img/user.png"/></a>
              </div>
              <div class="media-body">
                  <h3 class="titulo_discusion media-heading">Titulo de la discusión</h3>
                  <span>
                      <span class="resumen usuario">@Usuario </span>
                      <span class="resumen">Fecha de creacion</span>
                      <span class="resumen">Ultimo usuario en responder</span>
                  </span>
                  <div class="prueba"> 
                      <ul class="list-unstyled">
                          <li class="lista">1</li>
                          <li class="lista">2</li>
                          <li class="lista">3</li>
                      </ul>
                  </div>
                  <div class="botones">
                      <button class="glyphicon glyphicon-thumbs-up"></button>
                      <br/>
                      <button class="glyphicon glyphicon-comment"></button>
                  </div>
              </div>
      </div>
              <div class="discusiones">
                  <div class="media-left">
                      <a href="_blank"><img alt="" class="imagenes media-object" src="public/img/user.png"/></a>
                  </div>
                  <div class="media-body">
                      <h3 class="titulo_discusion media-heading">Titulo de la discusión</h3>
                      <span>
                          <span class="resumen usuario">@Usuario </span>
                          <span class="resumen">Fecha de creacion</span>
                          <span class="resumen">Ultimo usuario en responder</span>
                      </span>
                      <div class="prueba"> 
                          <ul class="list-unstyled">
                              <li class="lista">1</li>
                              <li class="lista">2</li>
                              <li class="lista">3</li>
                          </ul>
                      </div>
                      <div class="botones">
                          <button class="glyphicon glyphicon-thumbs-up"></button>
                          <br/>
                          <button class="glyphicon glyphicon-comment"></button>
                      </div>
                  </div>
              </div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span6">
		</div>
	</div>
</div>

{{template "footer.html" .}}


<script>
	$(document).on("ready", function(){
	console.log($("#sidebar-left").find(".active").closest(".tag-menu-item").html());
	var currentItem = $("#sidebar-left").find(".active").closest(".tag-menu-item");
	currentItem.addClass("open");
	currentItem.find(".dropdown-toggle").css("color", currentItem.data("color"));
})
</script>
